body {
    background-color: #F5F5F5;
}
.site-logo {
    border-radius: 5px;
}
h2#webRadio {
    line-height: 60px;
    color: #4F4F4F;
}
div#webRadioWrapper {
    padding: 0px;
}
span#changeColor {
    color: #F24B4B;
}
.navbar {
    margin-bottom: 0px;
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: #F24B4B;
    color: #E7E7E7;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-default .navbar-nav>li>a:hover {
    text-decoration: underline;
}
.breaking-news-strip {
    background: #222;
    /*color: #e24e42;*/
    color: #E7E7E7;
    padding: 10px 40px;
    font-size: 13px;
}
#breakingNewsHeader {
    font-weight: bold;
    color: antiquewhite;
    text-align: left;
    background-color: #e24e42;
    padding: 5px 7px;
    display: inline-block;
}
#breakingNewsFooter {
    color: antiquewhite;
    text-align: left;
    padding: 7px;
    display: inline-block;
}
.breaking-news-scroll {
    width: 70%;
    overflow: hidden;
    white-space: nowrap;
    background-color: #fff;
}
.breaking-news-scroll span{
    display: inline-block;
    text-indent: 0;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
.breaking-news-scroll span:hover {
    animation-play-state: paused;
}
/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
@media screen and (max-width: 767px){
    .breaking-news-scroll {
        width: 60%;
    }
}
@media screen and (max-width: 555px){
    .site-logo {
        width: 102px;
        height: 85px;
    }
    h2#webRadio {
        line-height: 55px;
    }
    #breakingNewsHeader {
        display: none;
    }
    .breaking-news-strip {
        padding: 10px 10px;
    }
    .breaking-news-scroll {
        width: 70%;
    }    
}