body {
    font-family: Georgia, Times, serif;
}
body>.container:first-child {
    width: 1050px;
}
.navbar-brand{
    height: 130px;
}
.hul-header {
    position: relative;
}
.hul-header .nav{
    position: absolute;
    bottom: 0;
    right: 10px;
}
.navbar-nav>li.active {
    background-color: #E24E42;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-nav>li>a {
    color: #E24E42;
}
.navbar-nav>li.active>a, .navbar-nav>li.active>a:hover {
    color: antiquewhite;
    background-color: #E24E42;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.navbar-nav>li>a:hover {
    color: #E24E42;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
body#container {
    width: inherit;
    margin: 0px auto;
}
.strip {
    background: #222;
    color: #e24e42;
    padding: 10px;
    font-size: 13px;
}
#breakingNewsHeader {
    font-weight: bold;
    color: antiquewhite;
    text-align: left;
    background-color: #e24e42;
    padding: 7px;
    display: inline-block;
}
#breakingNewsFooter {
    color: antiquewhite;
    text-align: left;
    padding: 7px;
    display: inline-block;
}
.breaking-news-scroll {
    width: 66%;
    overflow: hidden;
    white-space: nowrap;
}
.breaking-news-scroll span{
    display: inline-block;
    text-indent: 0;
    padding-left: 100%;
    animation: marquee 15s linear infinite;
}
.breaking-news-scroll span:hover {
    animation-play-state: paused;
}
/* Make it move */
@keyframes marquee {
    0%   { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}
div#newsParentContainer{
    position: relative;
}
.alignCenter{
    margin: 0 auto;
}
.pagination {
    margin: 5px auto;
}
li.disabled>a.arrow-pointer {
    color: antiquewhite;
    background-color: #737373;
}
.pagination li a {
    padding-left: 19px;
    padding-right: 19px;
    /*color: #e24e42;*/
    color: antiquewhite;
    background-color: #737373;
}
.pagination>.active>a, .pagination>.active>a:hover, .pagination>.active>a:focus {
    background-color: #e24e42;
    color: antiquewhite;
    border-color: antiquewhite;
}
.pagination li a:hover, .pagination li a:focus {
    color: #e24e42;
}
.pagination li a.arrow-pointer {
    padding-left: 5px;
    padding-right: 5px;
}
footer.strip {
    text-align: center;
}
.affix {
    top: 0px;
    z-index: 99999;
}
div#newsContainer.page-1 {
    background: url('../img/Current/Page-1.gif') top left no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 141%;
}
div#newsContainer.page-2 {
    background: url('../img/Current/Page-2.gif') top left no-repeat;
    background-size: contain;
    width: 100%;
    height: 0;
    padding-top: 141%;
}
div.footer-hero {
    height: 300px;
    background: #263238;
    border-top: solid 4px #E24E42;
    padding: 30px 0px;
    color: #e0e0e0;
    font-family: Arial, Helvetica, sans-serif;
}
.footer-hero > div {
    padding-left: 150px;
}
.footer-hero > div > h1 {
    color: #e24e42;
    letter-spacing: -0.05em;
}
h3 {
    margin: 0px;
}
.footer-hero> div> p> a {
    color: #e0e0e0;
}
.footer-hero> div> p> a:hover {
    color: #blue;
    font-style: italic;
    text-decoration: underline;
}
.follow-facebook, .follow-twitter, .follow-google-plus {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin-right: 25px;
    overflow: hidden;
    border-radius: 5px;
}
.follow-facebook > img, .follow-twitter > img, .follow-google-plus > img {
    width: 48px;
    height: 48px;
}